<body>
  <header>
    <div class="container py-3 text-center">
      <h1 class="display-4">Shopping Cart</h1>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-lg mb-4">
          <!-- Shopping cart table -->
          <div class="table-responsive w-auto">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase align-middle text-center">
                      Remove
                    </div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase align-middle text-center">
                      Product
                    </div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase align-middle text-center">
                      Price
                    </div>
                  </th>

                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase align-middle text-center">
                      Subtotal
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!--connects to cart-item.component.html view-->
                <tr
                  *ngFor="let item of cart_Items"
                  app-cart-item
                  [items]="item"
                ></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <form (submit)="addSchedule($event)">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-lg mb-4">
            <div class="p-5 text-center">
              <input
                type="text"
                autocomplete="off"
                placeholder="Schedule Date (00/00/0000)"
                id="scheduleDate"
              />
            </div>
            <div class="text-center">
              <button
                type="submit"
                id="submit"
                class="btn btn-primary py-2 font-weight-bold"
              >
                Schedule Shipment
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</body>
<footer>
  <app-footer></app-footer>
</footer>
