<!--parsing cart-item rows into separate columns with respective information-->
<td class="align-middle text-center"></td>
<td>
  <div class="px-2 py-2 d-inline-block">
    <img
      src="{{ items.img }}"
      alt="{{ items.title }}"
      width="80"
      class="img-fluid rounded shadow-sm align-self-center"
    />
    <div class="ml-3 d-inline-block align-middle text-center">
      <h5 class="mb-0">
        <a href="#" class="text-dark d-inline-block align-middle text-right">{{
          items.title
        }}</a>
      </h5>
    </div>
  </div>
</td>
<td class="align-middle text-center">
  <strong>${{ items.price }}</strong>
</td>

<td class="align-middle text-center"></td>
