h5, p {
    font-family: 'Alice', serif;
}

.cart-item-price {
    font-weight: bold;
    font-size: larger;
}

p {
    text-align: left;
}

.btn-primary {
    background-color: #5d3980;
}

.ccontainer{
    box-shadow: 2px 2px 2px 2px #888888;
}