<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active-link">
    <img class="logo" src="../../../assets/madCatter_sketch_05_small.png" alt="Mad Hatter logo with a cat" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
    (click)="isShown = !isShown" [attr.aria-expanded]="isShown" aria-controls="navbarNavAltMarkup" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" [ngClass]="{ show: isShown }" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active-link">Home <span
          class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/catalog" routerLinkActive="active-link">Catalog</a>
      <a class="nav-item nav-link" routerLink="/cart" routerLinkActive="active-link">Cart</a>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Already have an account? Login to our site
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
          <div class="form-group">
             <label class="sr-only" for="exampleInputEmail2">Email address</label>
             <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
          </div>
          <div class="form-group">
             <label class="sr-only" for="exampleInputPassword2">Password</label>
             <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
          </div>
          <div class="form-group">
             <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          </div>
          <p>Don't have an account?<a routerLink="/register"> Register here!</a></p>
          
       </form>
      </div>
    </div>
  </div>
</nav>