<body>
  <header>
    <div class="container py-3 text-center">
      <img
        class="header-img"
        src="../../../assets/cats.png"
        alt="cats walking across the page"
      />
      <h1 class="display-4">Shopping History</h1>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-lg mb-4">
          <!-- Shopping history table -->
          <div class="table-responsive w-auto">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase align-middle text-center">
                      Product
                    </div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase align-middle text-center">
                      Price
                    </div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase align-middle text-center">
                      Scheduled Ship Date
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!--connects to cart-item.component.html view-->
                <!-- <tr
                  *ngFor="let item of cart_Items"
                  app-cart-item
                  [items]="item"
                ></tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<footer>
  <app-footer></app-footer>
</footer>
