<body>
  <header>
    <div class="container py-3 text-center">
      <img
        class="header-img"
        src="../../../assets/cats.png"
        alt="cats walking across the page"
      />
      <h1 class="display-4">Shopping History</h1>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-lg mb-4">
          <tr class="card text-center" *ngFor="let item of historyList">
            <app-history-card [orders]="item"></app-history-card>
          </tr>
        </div>
      </div>
    </div>
  </main>
</body>
<footer>
  <app-footer></app-footer>
</footer>
