<form (submit)="addSchedule($event)">
  <div class="container">
    <h2>Schedule Test Here</h2>
    <div>
      <input
        type="text"
        autocomplete="off"
        placeholder="scheduleDate"
        id="scheduleDate"
      />
    </div>
    <div>
      <input
        type="text"
        autocomplete="off"
        placeholder="userEmail"
        id="userEmail"
      />
    </div>
    <div>
      <input
        type="text"
        autocomplete="off"
        placeholder="catalogTitle"
        id="catalogTitle"
      />
    </div>
    <div>
      <button type="submit" id="submit">Submit</button>
    </div>
  </div>
</form>
